.btn-theme {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: background-color 300ms ease;

  &:hover {
    background-color: var(--hover-color);
  }

  svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
}

// media
@media (max-width: 768px) {
  .btn-theme {
    right: 1rem;
    top: 1rem;
  }
}